.app.dark {
  --bg-color: #0e0e75;
  --invert-bg-color: #e3e3e7;

  --primary-color: #049604;
  --secondory-color: #06f506;
  --inverted-primary-color: #1511a2;
  --inverted-secondory-color: #2121f8;

}
