.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0c0c5e;
    --primary-color: #0232c2;
    --inverted-primary-color: #049604;
    --secondary-color: #0449e0;
    --inverted-secondary-color: #049604;
    --red-color: #7e4848;
}
